.svg-cancel-dims {
	width: 24px;
	height: 24px;
}

.svg-check-dims {
	width: 24px;
	height: 24px;
}

.svg-check_disabled-dims {
	width: 24px;
	height: 24px;
}

.svg-clear-dims {
	width: 24px;
	height: 24px;
}

.svg-event_available-dims {
	width: 24px;
	height: 24px;
}

.svg-event_busy-dims {
	width: 24px;
	height: 24px;
}

.svg-photo_library-dims {
	width: 24px;
	height: 24px;
}

.svg-playlist_add_check-dims {
	width: 24px;
	height: 24px;
}

.svg-report-dims {
	width: 24px;
	height: 24px;
}

.svg-room-dims {
	width: 24px;
	height: 24px;
}

